body {
    margin: 70px;
    background-color: #f2d1c9;
    /* opacity: 40%; */
    color: #331221;
    text-align: center;
}

.divStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.img {
    width: 200px;
    height: 100px;
}

p {
    width: 350px;
    height: 100px;
}

.btn {
    width: 62px;
    height: 20px;
    background-color: #8AB5BF;
}